{% extends 'base.html' %}

{% block title %}
    登录
{% endblock %}

{% block main %}
    <div style="max-width: 330px;" class="m-auto">
        <h1>登录</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label>邮箱</label>
                <input type="email" name="email" class="form-control" placeholder="邮箱">
            </div>
            <div class="mb-3">
                <label>密码</label>
                <input type="password" name="password" class="form-control" placeholder="密码">
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" name="remember" value="1"
                       id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">记住密码</label>
            </div>
            <div class="mb-3 text-xl-center">
                <button class="btn btn-primary w-100">立即登录</button>
            </div>
        </form>
    </div>
{% endblock %}